<div class="p-4 md:p-8 max-w-7xl mx-auto mt-20">

  <!-- Barre de recherche -->
  <form class="searchbar flex items-center bg-white rounded-lg p-2 shadow-lg border-2 border-blue-300" style="height: 85px;">
    <div class="searchbar-query flex-1 relative">
      <div class="searchbar-input-wrapper">
        <svg width="16" height="16" fill="currentColor" viewBox="0 0 16 16" xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true" focusable="false" role="presentation"
          class="searchbar-input-icon absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
          <path
            d="m13.813 13.04-3.141-3.142c.68-.82 1.055-1.875 1.055-3.023C11.727 4.203 9.523 2 6.852 2 4.156 2 2 4.203 2 6.875 2 9.57 4.18 11.75 6.852 11.75c1.125 0 2.18-.375 3.023-1.055l3.14 3.14a.56.56 0 0 0 .422.165.47.47 0 0 0 .376-.164c.234-.211.234-.563 0-.797ZM3.124 6.874a3.746 3.746 0 0 1 3.75-3.75 3.76 3.76 0 0 1 3.75 3.75 3.746 3.746 0 0 1-3.75 3.75 3.73 3.73 0 0 1-3.75-3.75">
          </path>
        </svg>
        <input
          class="searchbar-input searchbar-query-input w-full p-3 pl-10 pr-4 text-gray-700 bg-white border-none rounded-l-lg focus:outline-none  text-base"
          placeholder="Nom, spécialité, établissement..." title="Nom, établissement, spécialité"
          aria-label="Nom, établissement, spécialité" aria-expanded="false"
          aria-owns="search-query-input-results-container" aria-controls="search-query-input-results-container"
          aria-autocomplete="list" autocomplete="off" autocorrect="off" autocapitalize="off" spellcheck="false"
          id="search-query" role="combobox" [(ngModel)]="searchTerm" name="searchTerm" (ngModelChange)="loadNearbyDoctors()" />
      </div>
    </div>
    <div class="searchbar-place-submit flex items-center">
      <div class="searchbar-place flex items-center">
        <div class="border-l border-gray-300 h-8 mx-2"></div>
        <div class="searchbar-input-wrapper w-64">
          <mat-form-field appearance="fill" class="w-full" style="margin-top: 10px; --tw-text-opacity: 1;
    color: rgb(55 65 81 / var(--tw-text-opacity, 1));">
            <!-- <mat-label class=" text-gray-700 bg-white">Choisissez une ville</mat-label> -->
            <input class=" text-gray-700 bg-white border-none rounded-l-lg text-base " matInput [formControl]="cityControl" [matAutocomplete]="auto" placeholder="Tapez une ville...">
            <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayCityFn"
              (optionSelected)="selectedCity = $event.option.value; onCitySelected()">
              <mat-option *ngFor="let city of filteredCities | async" [value]="city" style="width: 224px;">
                {{ city.nom }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </div>
      </div>
      <button type="submit" style="background-color: rgba(16, 125, 168, 0.6); border-radius: 7px;"
        class= "text-white font-bold py-2 px-4 rounded-r-lg shadow-md flex items-center transition-all duration-300 ease-in-out"
        (click)="onSearchSubmit()">
        <span class="searchbar-submit-button-label">Rechercher</span>
        <!-- <svg class="ml-2" width="10" height="16" viewBox="0 0 10 16" style="color: white;">
          <path
            d="M2.7.5c-.2-.3-.5-.5-1-.5S1 .2.5.5C-.2 1-.2 2 .5 2.7L5.7 8 .5 13.5c-.7.8-.7 1.5 0 2.2.3.3.7.4 1.2.4.4 0 .8 0 1-.3L9 9c.3-.2.4-.5.4-1 0-.4 0-.8-.4-1L2.7.5z">
          </path>
        </svg> -->
      </button>
    </div>
  </form>
  <!-- Carte en grand format -->
  <div class="bg-gray-200 border-4 border-blue-300 rounded-lg overflow-hidden relative shadow-xl mb-8 mt-8 h-[500px]"
    style="z-index: 1;">
    <!-- ... -->
    <app-map #mapComp></app-map>
  </div>

  <!-- Liste des médecins -->
  <div id="doctor-list-container" class="space-y-4">
    <h2 class="text-3xl font-bold text-gray-800 border-b pb-2 mb-4">
      Résultats de la recherche
    </h2>
    <div *ngFor="let doctor of filteredDoctors">
      <app-doctor-card [doctor]="doctor"></app-doctor-card>
    </div>
  </div>

  <!-- Bouton retour -->
  <div class="flex justify-center mt-8">
    <button
      class="bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-3 px-6 rounded-full shadow transition duration-300 ease-in-out"
      routerLink="/home">
      Retour à l'accueil
    </button>
  </div>

</div>
